<table border="1" id="historical">
  <caption><h2>Historical Data</h2></caption>

  <tr>
   <th>Complexity\Size</th>
    <th>Small</th>
    <th>Average</th>
    <th>Large</th>
  </tr>
  <tr>
    <td>Low</td>
    <td>8</td>
    <td>20</td>
    <td>40</td>
  </tr>
  <tr>
    <td>Medium</td>
    <td>10</td>
    <td>20</td>
    <td>100</td>
  </tr>
  <tr>
    <td>High</td>
    <td>6</td>
    <td>78</td>
    <td>200</td>
  </tr>
</table>

