<% provide(:title, 'contact') %>

<h2> Bugshooters <%= yield(:title) %> </h2>
<p>
  Jason Tao                   (jason.tao@sv.cmu.edu) </br>
  Ting Yu                     (ting.yu@sv.cmu.edu)</br>
  Xiaolei Jin                 (xiaolei.jin@sv.cmu.edu) </br>
  Mrdula Chappalli Srinivasa  (mridula.chappalli.srinivasa@sv.cmu.edu)</br>
  Jacky Chen                  (jacky.chen@sv.cmu.edu) </br>
</p>