
<% provide(:title, 'user index') %>

<% if signed_in? and is_admin? %>
    <h2>User list</h2>

    <table id="projects" class="table table-striped">
      <thead>
      <tr>
        <th>User</th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
            <p>
              <tr>
                <th>
                <%= link_to user.name, user%>
                </th>
                <th>
                <%= link_to 'Edit', edit_user_path(user) %>
                </th>
                <th>
                <%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } %>
                </th>
              </tr>
            </p>
        <% end %>
      </tbody>
    </table>

<% end %>
